#pnam,#pcat,#pty,#ppp,#pdes,#pfil{
    margin-left: 250px;
    width: 50%;
}
@media screen and (min-width: 320px) and (max-width:480px){
    
#pnam,#pcat,#pty,#ppp,#pdes,#pfil{
    margin-left: 10px;
    width:400px;
}
}