#in0{
    width:40px;
    margin-top: 40px;
}
.heart{
    font-size: 35px;
    color: rgb(226, 43, 52);
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
 
  
}
.heart:hover{
    color: black;
    fill: black;
}
.sb1{
    margin-right: 30px;
    margin-top: 20px;
    background-color: #c71585;
    margin-left: 0px;
    color: white;

}
.des{
    font-size: 20px;
    margin-left: 0px;
}
.am1{
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0 0 3px rgb(0 0 0 / 10%);
   padding: 10px;
    margin: 5px;
    font-size: larger;
    color: black;
}
.am1:hover{
   background-color: #c71585;
   border-radius: 50%;
}
#cat1{
    font-weight: 100;
    font-size: 50px;
}
.pdn1{
    font-weight: 200;
    font-size: 50px;
    margin-left: 0px;
}
#subbtn{
    background-color: #c71585;
    width: 150px;
}

    #un2{
    width: 400px;
    border: transparent;
    border: 0px;
    border-bottom: 2px solid #c71585;
  }
  #em2{
    width: 400px;
    border: transparent;
    border: 0px;
    border-bottom: 2px solid #c71585;
  }
  #mgs2{
   
    border: 2px solid #c71585;
    padding: 20px;
    width: 400px;
  }
  .pdn{
      font-weight: 400;
      font-size: 20px;
  }
  #psd1{
      font-size: 40px;
      font-weight: 350;
  }

  
  
  /* For user Rating */
  .star-rating {
    margin: 25px 0 0px;
   font-size: 0;
   white-space: nowrap;
   display: inline-block;
   width: 175px;
   height: 35px;
   overflow: hidden;
   position: relative;
   background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
   background-size: contain;
 }
 .star-rating i {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    z-index: 1;
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;
  }
  .star-rating input {
    -moz-appearance: none;
    -webkit-appearance: none;
    opacity: 0;
    display: inline-block;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative;
  }
  .star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}  